<%- include('../Partials/header') %>
<%- include('../Partials/main_nav') %>

<!-- Content for the edit operation -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="mealTextField">Meal</label>
                    <input type="text" class="form-control" id="mealTextField" placeholder="Enter the Meal Name" name="Meal" value="<%= Book.Meal %>" required>
                </div>
                <div class="form-group">
                    <label for="cookTimeTextField">Cook Time</label>
                    <input type="text" class="form-control" id="cookTimeTextField" placeholder="Enter Cook Time" name="CookTime" value="<%= Book.CookTime %>" required>
                </div>
                <div class="form-group">
                    <label for="ingredientsTextArea">Ingredients</label>
                    <textarea class="form-control" id="ingredientsTextArea" placeholder="Enter Ingredients (comma-separated)" name="Ingredients" required><%= Book.Ingredients %></textarea>
                </div>
                <div class="form-group">
                    <label for="descriptionTextArea">Description</label>
                    <textarea class="form-control" id="descriptionTextArea" placeholder="Enter the Recipe Description" name="Description" required><%= Book.Description %></textarea>
                </div>
                <div class="form-group">
                    <label for="instructionsTextArea">Instructions</label>
                    <textarea class="form-control" id="instructionsTextArea" placeholder="Enter Cooking Instructions" name="Instructions" required><%= Book.Instructions %></textarea>
                </div>
                <button class="btn btn-primary" type="submit">
                    Submit <i class="fas fa-edit"></i>
                </button>
                <a href="/recipe" class="btn btn-warning">
                    Cancel <i class="fas fa-undo"></i>
                </a>
            </form>
        </div>
    </div>
</div>

<%- include('../Partials/footer') %>
