<%- include ../Partials/header.ejs%>
<%- include ../Partials/main_nav.ejs%>
<!--Book Database-->
<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            <br>
            <a href="/recipe/add" class="btn btn-primary" role="button">
                <i class="fas fa-square-plus"></i> Add Recipe
            </a>
            <table class="table table-bordered table-striped table-hover">
                <tr class="d-flex">
                    <th class="text-center col-2">Meal</th>
                    <th class="text-center col-2">Cook Time</th>
                    <th class="text-center col-3">Ingredients</th>
                    <th class="text-center col-3">Description</th>
                    <th class="text-center col-3">Instructions</th>
                </tr>
                <% for(let count=0;count<BookList.length;count++) { %>
                <tr class="d-flex">
                    <td class="text-center col-2"><%= BookList[count].Meal %></td>
                    <td class="text-center col-2"><%= BookList[count].CookTime %></td>
                    <td class="text-center col-3"><%=BookList[count].Ingredients %></td>
                    <td class="text center col-3"><%= BookList[count].Description %> </td>
                    <td class="text-center col-3"><%= BookList[count].Instructions %></td>
                    <td class="text-center col-1">
                        <a href="/recipe/edit/<%= BookList[count]._id%>"
                            class="btn btn-primary btn-sm">
                        <i class="fas fa-pencil-alt"></i> Edit
                    </a>
                    </td>
                    <td class="text-center col-1">
                        <a href="/recipe/delete/<%= BookList[count]._id%>"
                            class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i> Delete
                    </a>
                    </td>
                </tr>    
                    <%} %>
            </table>
        </div>
    </div>
</main>
<%- include ../Partials/footer.ejs%>